html {
  font-size: 100%;
}

body {}

/* main */

/* Rating State */

.circled {}

.card-heading {}

.card-body {}

.rating-row {}

.rating {}

.rating:hover {}

button {}

/* Thank-You State */

.confirmation {}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
