html {
  font-size: 15px;
}

body {
  background-color: black;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

/* main */
.card {
  background-color: hsl(216, 12%, 8%);
  border-radius: 1.2rem;
  margin: 12.83rem auto;
  max-width: 25rem;
  padding: 2.14rem;
}

.inactive {
  display: none;
}

/* Rating State */
.rating-card img {
  padding: 1.1rem;
}

.circled {
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
}

.card-heading {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.card-body {
  color: hsl(217, 12%, 63%);
  font-size: 1.13rem;
  line-height: 1.5;
  margin-top: 0;
}

.rating-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.rating {
  color: hsl(217, 12%, 63%);
  font-weight: 700;
  padding: 1rem;
  position: relative;
}

.first {
  padding: 1.13rem 1.45rem 0.87rem;
}

.rest {
  padding: 1.13rem 1.33rem 0.87rem;
}

.rating:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.selected {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

button {
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
  width: 100%;
}

/* Thank-You State */
.thank-you-card {
  text-align: center;
}

.thank-you-card img {}

.confirmation {
  background-color: hsl(213, 19%, 18%);
  border-radius: 1.5rem;
  color: hsl(25, 97%, 53%);
  margin: 1rem auto;
  padding: 0.5rem;
  width: 50%;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
